.nav-btn {
    text-decoration: none;
    font-family: caveat;
    font-size: rem(25px);
    color: darken($clr1, 32%);
    background: linear-gradient(0deg, #96c01d 35%, #dce5c0 100%);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid darken($clr1, 32%);
}

button {
    border: none;
    background-color: $clr1;
    color: white;
    cursor: pointer;
    // box-shadow: 1px 1px 4px #00000042;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
    outline: none;
}

button:hover {
        // background-color: darken($color: $clr1, $amount: 10%);
        background-color: $clr1dark;
}